/* Layout */
@import "assets/layout/styles/layout/layout.scss";

/* PrimeNG */
@import "../node_modules/primeng/resources/primeng.min.css";
@import "../node_modules/primeflex/primeflex.scss";
@import "../node_modules/primeicons/primeicons.css";

//custom theme
.p-menubar.p-submenu-list {
  width: unset;
}
.p-avatar.p-avatar-circle {
  overflow: unset !important;
}
.p-menubar-root-list {
  width: max-content !important;
}
.p-element.p-icon-wrapper {
  margin-left: 2px;
}
.p-ripple.p-element.p-menuitem-link {
  justify-content: space-between;
}

.object-cover {
  object-fit: cover;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Roboto, sans-serif;
}

// ẩn text quá dài trên n dòng
.line-clamp-1 {
  -webkit-line-clamp: 1;
}

.line-clamp-2 {
  -webkit-line-clamp: 2;
}

.text-wrap {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

// custom
.min-h-7rem {
  min-height: 7rem;
}
.min-h-2rem {
  min-height: 2rem;
}
.min-h-3rem {
  min-height: 3rem;
}
.min-h-4rem {
  min-height: 4rem;
}
.min-h-5rem {
  min-height: 5rem;
}

.btn {
  padding: 0.5rem;
  cursor: pointer;
}

.text-1em {
  font-size: calc(0.5em + 2vw);
}

.text-2em {
  font-size: calc(1.5em + 2vw);
}

.text-3em {
  font-size: calc(2em + 2vw);
}

.h-30rem {
  height: 30rem;
  ;
}

.h-3 {
  height: 30%;
}

.half-height-width {
  width: 100%;
  /* Chiều rộng theo yêu cầu */
  aspect-ratio: 2 / 1;
  /* Tỷ lệ 2:1 để chiều cao = 50% chiều rộng */
}

.logo-img {
  height: calc(2em + 2vw);
}

.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  transform: translate(-50%, -50%);
}

.absolute-right {
  position: absolute;
  top: 50%;
  right: 0;
  z-index: 1;
  transform: translate(0%, -50%);
}

.absolute-left {
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 1;
  transform: translate(0%, -50%);
}


swiper-container {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  height: calc((100% - 30px) / 2) !important;
  display: flex;
  justify-content: center;
  align-items: center;
}